<div class="row dashboard-listing" id ="listing-post">
	<% if @total_posts_submitted == 0 %>
		<li class="list-group-item">No Posts</li>
	<% else %>
		<div class="col-md-12">
			<h1 align="center">Post Submitted ( <%= @total_posts_submitted %> )</h1><br>
		</div>

		<%= render 'activity_post_submitted', obj: @pending_activities %>
		<%= render 'event_post_submitted', obj: @pending_events %>
	<% end %>
</div>
<br>
