<div class="container post-container">
	<%#= render 'shared/messages' %>
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-12">
			<%= render 'programme_leader' if programmeleader? %>
			<%= render 'student' if student? %>
		</div>
	</div>

	<hr>

	<footer>
		<p>&copy; UBD SS-4301; Developed by Zeeyad - 2017</p>
	</footer>

</div>