<% if obj.empty? %>
	<p class="text-center">There is no Module Post. Please add some!</p>
<% else %>
	<% obj.each do |modulepost| %>
		<div class="card custom-card-border">
			<div class="view-post card-body">
				<%= render 'module_details', obj: modulepost %>
				<% if policy(modulepost).update? %>
					<%= render 'module_actions', obj: modulepost %>
				<% end %>
			</div>
		</div>
		<br>
	<% end %>
<% end %>