<section id="form-module">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 form-module-column ">
        <h1 class="text-center">EDIT MODULE POST</h1>
        <br/>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
