<section id="section-module">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 section-module-column ">
        <h1 class="text-center">NEW MODULE POST</h1>
        <%= render 'shared/errors', obj: @module_post %>
        <br/>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
