<% if obj.empty? %>
  <li class="list-group-item">No New Posts</li>
<% else %>
  <% obj.each do |activitypost| %>
      <div class="card">
        <a href="<%= activity_post_path(activitypost) %>">
	      <li class="view-post list-group-item"><%= activitypost.title %></li>
        </a>
     </div>
  <% end %>
<% end %>