<% if obj.empty? %>
  <li class="list-group-item">No Posts</li>
<% else %>
  <% obj.each do |csactivity| %>
    <a href="<%= activity_post_path(csactivity) %>">
	  <li class="list-group-item"><%= csactivity.title %></li>
    </a>
  <% end %>
<% end %>