<% if obj.empty? %>
  <li class="list-group-item">No Posts</li>
<% else %>
  <% obj.each do |eventpost| %>
    <a href="<%= event_post_path(eventpost) %>">
	  <li class="list-group-item"><%= eventpost.title %></li>
    </a>
  <% end %>
<% end %>