<% if obj.empty? %>
  <li class="list-group-item">No New Posts</li>
<% else %>
  <% obj.each do |eventpost| %>
    <div class="card">
	  <a href="<%= event_post_path(eventpost) %>">
		<li class="view-post list-group-item"><%= eventpost.title %></li>
	  </a>
	</div>
  <% end %>
<% end %>