<div class="jumbotron" id="featured" style="background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(<%= asset_path 'ubd-fit.jpg' %>) center center no-repeat;  background-size: cover;
 color: white; width: 100%; text-align:center">
	<h1>UBD <i>Computer Science</i> Bulletin Board</h1><br>
	<%= image_tag "ubd-logo.png", style: "max-width: 15%;" %><br>
	<%= link_to "About", about_path, class: "btn btn-primary" %>
</div>