<div class="jumbotron" style="background-image: url(<%= asset_path 'ubd-fit.jpg' %>)">
	<h1>UBD <i>Computer Science</i> Bulletin Board</h1><br>
	<%= image_tag "ubd-logo.png", style: "max-width: 15%;" %><br>
	<%= link_to "About", about_path, class: "btn btn-primary" %>
</div>