<div class="row" id ="listing-post">
	<div class="col-lg-4">
	  	<div class="card">
	      	<h4 class="card-header navbar-dark bg-dark">EVENT</h4>
	      	<ul class="list-group list-group-flush">
	  			<%= render 'event_posts', obj: @event_posts %>
	  		</ul>
	    </div>
	</div>
	<div class="col-lg-4">
	  	<div class="card">
	      	<h4 class="card-header navbar-dark bg-dark">ACTIVITY</h4>
	      	<ul class="list-group list-group-flush">
	  			<%= render 'cs_activity_posts', obj: @cs_activities %>
	  		</ul>
	    </div>
	</div>
	<div class="col-lg-4">
	  	<div class="card">
	      	<h4 class="card-header navbar-dark bg-dark">MODULE</h4>
	      	<ul class="list-group list-group-flush">
	  			<%= render 'cs_module_posts', obj: @cs_modules %>
	  		</ul>
	    </div>
	</div>
</div>