<% if obj.empty? %>
  <li class="list-group-item">No New Posts</li>
<% else %>
  <% obj.each do |modulepost| %>
  	<div class="card">
      <a href="<%= module_post_path(modulepost) %>">
	    <li class="view-post list-group-item"><%= modulepost.title %></li>
      </a>
    </div>
  <% end %>
<% end %>