<section id="section-module">
  <div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2 section-module-column">
			<h1 align="center">About the Bulletin Board</h1><br>
			<h3>Objectives</h3>
			<p>Bring posts on activites, events and modules in UBD</p>
		</div>
	</div>
  </div>
</section>