<section id="section-option">
  <div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2 section-option-column">
			<div align="center">
				<h1>CREATE</h1>
				<br>
				<a href="<%= new_module_post_path %>" class="select-post card-body btn btn-info btn-block">
					<h2> Module Post</h2>
				</a>
				<br>
				<a href="<%= new_activity_post_path %>" class="select-post card-body btn btn-success btn-block">
					<h2> Activity Post</h2>
				</a>
				<br>
				<a href="<%= new_event_post_path %>" class="select-post card-body btn btn-danger btn-block">
					<h2> Event Post</h2>
				</a>
			</div>
		</div>
	</div>
  </div>
</section>