<section id="section-option">
  <div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2 section-option-column">
				<h1 class="section-option-column" align="center">CREATE POST</h1>
				<br>
				<a href="<%= new_module_post_path %>" class="select-post card-body btn btn-outline-info btn-block">
					<h2> MODULE</h2>
				</a>
				<br>
				<a href="<%= new_activity_post_path %>" class="select-post card-body btn btn-outline-success btn-block">
					<h2> ACTIVITY</h2>
				</a>
				<br>
				<a href="<%= new_event_post_path %>" class="select-post card-body btn btn-outline-danger btn-block">
					<h2> EVENT</h2>
				</a>

		</div>
	</div>
  </div>
</section>