<section id="listing-module">
	<div class="container">
	    <div class="row">
	    	<div class="col-md-8 offset-md-2 listing-module-column">
		    	<h1 align="center">CSMODULES</h1>
		    	<br/>
		    	<%= @cs_modules.inspect %>
				<%#= render 'cs_modules/cs_module', obj: @modules %>
			</div>
		</div>
	</div>
</section>
