<section id="listing-module">
	<div class="container">
	    <div class="row">
	    	<div class="col-md-8 offset-md-2 listing-module-column">
		    	<h1 align="center">CS MODULE POSTS</h1>
		    	<br/>
		    	<%#= @cs_modules.inspect %>
				<%= render 'cs_module_posts', obj: @cs_modules %>
			</div>
		</div>
	</div>
</section>
