<section id="form-module">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 form-module-column ">
        <h1 class="text-center">New CS Module Post</h1>
        <%= render 'shared/errors', obj: @cs_module %>
        <br/>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
