<% if @activity_posts.empty? %>
	<p class="text-center">There is no Activity Post. Please add some!</p>
<% else %>
	<% @activity_posts.each do |activitypost| %>
		<div class="card custom-card-border">
			<div class="view-post card-body">
				<%= render 'activity_details', obj: activitypost %>
				<% if policy(activitypost).update? %>
					<%= render 'activity_actions', obj: activitypost %>
			    <% end %>
			</div>
		</div>
		<br>
	<% end %>
<% end %>