<table class="table table-sm table-bordered">
  <thead class="table-inverse bg-dark custom-table-header">
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>Duration</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= obj.date_in_words %></td>
      <td><%= obj.get_name_of_day %></td>
      <td><%= obj.duration_of_days %> days</td>
      <td><%= obj.time_in_words %></td>
    </tr>
  </tbody>
</table>

