<section id="section-module">
  <div class="container">
	<div class="row">
		<div class="col-md-3 section-new-column">
			<%= render 'activity_sidebar' %>
		</div>
		<div class="col-md-7 section-module-column">
			<%= render 'activity_posts', obj: @activity_posts %>
		</div>
	</div>
  </div>
</section>