<section id="section-module">
  <div class="container">
	<div class="row">
		<div class="col-md-3 section-new-column">
			<%= render 'activity_sidebar' %>
		</div>
		<div class="col-md-7 section-module-column">
		 	  <% paginate @activity_posts, theme: 'twitter-bootstrap-4'  %>
		 	<div>
			  <%= render 'activity_post', obj: @activity_posts %>
			</div>
			<div class="container pagination justify-content-center" >
		 	  <%= paginate @activity_posts, theme: 'twitter-bootstrap-4'  %>
		 	</div>
		</div>
	</div>
  </div>
</section>