<section id="section-module">
  <div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2 section-module-column">
	    	<h1 align="center">ACTIVITY POSTS</h1>
	    	<br/>
			<%= render 'activity_posts', obj: @activity_posts %>
		</div>
	</div>
  </div>
</section>