<section id="section-module">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 section-module-column ">
        <h1 class="text-center"><%= @activity_post.title %></h1>
        <br>
        <p><%= @activity_post.description %></p>
      </div>
    </div>
  </div>
</section>
