<section id="section-module">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 section-module-column ">
        <h1 class="text-center"><%= @cs_activity.title %></h1>
        <br>
        <p><%= @cs_activity.description %></p>
      </div>
    </div>
  </div>
</section>
