/* CS MODULES POSTS LISTING */

#listing-module {
	min-height: 800px;
}

#listing-module .listing-module-column {
	padding: 30px;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 100px;
}

#listing-module a {
	text-decoration: none;
	color: #191919;
}

#listing-module a:hover {
	background-color:rgba(0,0,0,0.06);
	color: black;
}

#listing-module .card .card-text-date {
	padding-bottom: 3px;
}

/* CS MODULES FORM */

#form-cs-module {
	min-height: 800px;
}

#form-module .form-module-column {
	padding: 30px;
	border-radius: 30px;
	margin-top: 80px;
	margin-bottom: 100px;
}


/* CS MODULES FORM */

#form-cs-module {
	min-height: 800px;
}

#form-module .form-module-column {
	padding: 30px;
	border-radius: 30px;
	margin-top: 80px;
	margin-bottom: 100px;
}

/* SHOW MODULE */

#show-module{
	min-height: 800px;
}

#show-module .show-module-column {
	padding: 30px;
	border-radius: 30px;
	margin-top: 80px;
	margin-bottom: 100px;
}