#section-option {
	min-height: 500px;
}

#section-option .section-option-column {
	margin: 0 auto; 
	margin-top: 30px;
}

#section-option .container .row .card .select-post:hover {
    color: black;
}

#section-option .container .row .card .select-post {
	color: rgba(255, 255, 255, 0.95);
}

#section-module .container .row .card .select-post:hover {
    color: black;
}