<div class="card custom-card-border">
	<div class="text-center card-body">
		<h2 align="center">EVENT POSTS </h2>
    	<div class="mx-auto" style="width: 50px;">
	    	<%= link_to "", new_event_post_path, class: "select-post btn btn-outline-primary fa fa-pencil-square-o" %>
	    </div>
		<%= image_tag("hack.jpg", style: "max-width: 100%;") %>
	    <br>
		<p><%= current_user.name.titleize %></p>
	</div>
</div>
<br>

<div class=" custom-card-border">
	<div class="text-center card-body">
<%= link_to "Event Posts Archive", archive_posts_event_posts_path, class: "btn btn-outline-secondary" %>
	</div>
</div>