<% if @event_posts.empty? %>
	<p class="text-center">There is no Event Post. Please add some!</p>
<% else %>
	<% @event_posts.each do |eventpost| %>
		<div class="card custom-card-border">
			<div class="view-post card-body">
				<%= render 'event_details', obj: eventpost %>
				<% if policy(eventpost).update? %>
					<%= render 'event_actions', obj: eventpost %>
			    <% end %>
			</div>
		</div>
		<br>
	<% end %>
<% end %>