<ul class="navbar-nav mr-auto">
  <li class="<%= active?(cs_module_posts_path) %> nav-item">
    <a class="nav-link" href="<%= cs_module_posts_path %>">CS MODULE</a>
  </li>
  <li class="<%= active?(new_cs_module_post_path) %> nav-item">
    <a class="nav-link" href="<%= cs_activity_posts_path %>">CS ACTIVITY</a>
  </li>
</ul>