<ul class="navbar-nav mr-auto">
  <li class="<%= active?(module_posts_path) %> nav-item">
    <a class="nav-link" href="<%= module_posts_path %>">MODULE</a>
  </li>
  <li class="<%= active?(activity_posts_path) %> nav-item">
    <a class="nav-link" href="<%= activity_posts_path %>">ACTIVITY</a>
  </li>
</ul>