<ul class="nav">

	<%= form_with url: search_path, local: true, method: :get, html: { clsss: "from-inline my-2 my-lg-0"} do |form| %>
	<%= form.text_field :q, placeholder: "Search", data: { behavior: "autocomplete" }, class: "form-control mr-sm-2" %>
	<% end %>

  <li class="nav-item dropdown" data-behavior="notifications">
    <a class="nav-link" data-behavior="notification-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o" aria-hidden="true"></i><span data-behavior="unread-count"></span></a>
    <div class="dropdown-menu dropdown-menu-right" data-behavior="notification-items">

    </div>
  </li>

  <%= link_to "", select_new_post_option_path, class: "btn-logout nav-item nav-link fa fa-pencil-square-o" %>
  <%= link_to "", destroy_user_session_path, method: :delete, class: "btn-logout nav-item nav-link fa fa-sign-out" %>
</ul>
